root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 140
tab_width = 8

[*.kt]
ktlint_code_style = ktlint_official
ktlint_function_naming_ignore_when_annotated_with = Composable
compose_allowed_composition_locals = LocalComponentUIFactories

[*.{yaml,yml}]
indent_size = 2

[**/icons/material/**.kt]
generated_code = true
ij_formatter_enabled = false
ktlint = disabled