<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".FronterIndicatorActivity"
            android:theme="@style/Theme.ProjectKafka.FronterIndicator"
            android:allowEmbedded="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:taskAffinity="${applicationId}.fronterindicator"
            android:finishOnTaskLaunch="true"
            tools:targetApi="24">
            <property
                android:name="android.window.PROPERTY_COMPAT_ALLOW_SMALL_COVER_SCREEN"
                android:value="1" />
        </activity>
    </application>
</manifest>
